# Name                    Version                   Build  Channel

abseil-cpp                20200225.2           hb1e8313_2    conda-forge
absl-py                   0.10.0                   pypi_0    pypi
aiohttp                   3.6.2            py38h4d0b108_1    conda-forge
altair                    4.1.0                    pypi_0    pypi

argon2-cffi               20.1.0           py38h5406a74_2    conda-forge
arrow-cpp                 1.0.1           py38h80f48fe_13_cpu    conda-forge
arviz                     0.10.0                     py_0    conda-forge
astor                     0.8.1                    pypi_0    pypi
astunparse                1.6.3                    pypi_0    pypi
async-timeout             3.0.1                   py_1000    conda-forge
async_generator           1.10                       py_0    conda-forge
attrs                     20.2.0             pyh9f0ad1d_0    conda-forge
automat                   20.2.0                     py_0    conda-forge
aws-c-common              0.4.59               hc929b4f_1    conda-forge
aws-c-event-stream        0.1.6                h4280160_5    conda-forge
aws-checksums             0.1.9                h2b6ece3_2    conda-forge
aws-sdk-cpp               1.8.59               h49ba873_1    conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
backports                 1.0                        py_2    conda-forge
backports.functools_lru_cache 1.6.1                      py_0    conda-forge
base58                    2.1.0                    pypi_0    pypi
bcrypt                    3.2.0            py38h5406a74_1    conda-forge
beautifulsoup4            4.9.3              pyhb0f4dca_0    conda-forge
blas                      2.17                   openblas    conda-forge
bleach                    3.2.1              pyh9f0ad1d_0    conda-forge
blinker                   1.4                      pypi_0    pypi
boto                      2.49.0                     py_0    conda-forge
boto3                     1.15.16            pyh9f0ad1d_0    conda-forge
botocore                  1.18.16            pyh9f0ad1d_0    conda-forge
branca                    0.4.1                      py_0    conda-forge
brotli                    1.0.9                hb1e8313_3    conda-forge
brotlipy                  0.7.0           py38h5406a74_1001    conda-forge
bz2file                   0.98                       py_0    conda-forge
bzip2                     1.0.8                hc929b4f_4    conda-forge
c-ares                    1.16.1               haf1e3a3_3    conda-forge
ca-certificates           2021.7.5             hecd8cb5_1
cachetools                4.1.1                      py_0    conda-forge
cctools_osx-64            949.0.1             h2f0f38f_19    conda-forge
certifi                   2021.5.30        py38hecd8cb5_0
cffi                      1.14.3           py38h2125817_2
cftime                    1.2.1            py38h174b24a_1    conda-forge
chardet                   3.0.4           py38h5347e94_1008    conda-forge
clang                     10.0.1          default_hf57f61e_1    conda-forge
clang_osx-64              10.0.1              h05bbb7f_10    conda-forge
clangxx                   10.0.1          default_hf57f61e_1    conda-forge
clangxx_osx-64            10.0.1              h05bbb7f_10    conda-forge
click                     7.1.2              pyh9f0ad1d_0    conda-forge
cloudpickle               1.6.0                      py_0    conda-forge
cmdstanpy                 0.9.5                    pypi_0    pypi
compiler-rt               10.0.1               he6db49b_0    conda-forge
compiler-rt_osx-64        10.0.1               h033240e_0    conda-forge
constantly                15.1.0                     py_0    conda-forge
convertdate               2.2.2              pyh9f0ad1d_0    conda-forge
cryptography              3.1.1            py38h52adbb4_0    conda-forge
cssselect                 1.1.0                      py_0    conda-forge
curl                      7.71.1               hb0a8c7a_1
cvxpy                     1.1.6            py38h11c0d25_0    conda-forge
cvxpy-base                1.1.6            py38h6be0db6_0    conda-forge
cycler                    0.10.0                     py_2    conda-forge
cython                    0.29.21          py38heedec30_1    conda-forge
cytoolz                   0.11.0           py38h5406a74_3    conda-forge
dask-core                 2021.5.0           pyhd8ed1ab_0    conda-forge
decorator                 4.4.2                      py_0    conda-forge
defusedxml                0.6.0                      py_0    conda-forge
ecos                      2.0.7.post1      py38hc7193ba_4    conda-forge
entrypoints               0.3             pyhd8ed1ab_1003    conda-forge
ephem                     3.7.7.1          py38h4d0b108_1    conda-forge
et_xmlfile                1.0.1                   py_1001    conda-forge
fbprophet                 0.7.1            py38h11c0d25_0    conda-forge
folium                    0.11.0                     py_0    conda-forge
freetype                  2.10.3               ha233b18_0    conda-forge
fsspec                    2021.5.0           pyhd8ed1ab_0    conda-forge
future                    0.18.2           py38h50d1736_3    conda-forge
fuzzywuzzy                0.18.0                   pypi_0    pypi
gast                      0.3.3                    pypi_0    pypi
gensim                    3.8.3            py38hc84c608_2    conda-forge
gflags                    2.2.2             hb1e8313_1004    conda-forge
gitdb                     4.0.7                    pypi_0    pypi
gitpython                 3.1.18                   pypi_0    pypi
glog                      0.4.0                hb7f4fc5_3    conda-forge
google-api-core           1.22.4             pyh9f0ad1d_0    conda-forge
google-auth               1.22.0                     py_0    conda-forge
google-auth-oauthlib      0.4.1                    pypi_0    pypi
google-cloud-core         1.4.3              pyh9f0ad1d_0    conda-forge
google-cloud-storage      1.31.2             pyh9f0ad1d_0    conda-forge
google-crc32c             1.0.0            py38h320b2b7_1    conda-forge
google-pasta              0.2.0                    pypi_0    pypi
google-resumable-media    1.1.0              pyh9f0ad1d_0    conda-forge
googleapis-common-protos  1.52.0           py38h50d1736_1    conda-forge
grpc-cpp                  1.32.0               hecf032b_1    conda-forge
grpcio                    1.31.0           py38h33aa186_0    conda-forge
h5py                      2.10.0                   pypi_0    pypi
hdf4                      4.2.13            h84186c3_1003    conda-forge
hdf5                      1.10.6          nompi_hc457bb4_1110    conda-forge
holidays                  0.10.3             pyh9f0ad1d_0    conda-forge
html5lib                  1.1                      pypi_0    pypi
hyperlink                 21.0.0             pyhd3deb0d_0    conda-forge
icu                       67.1                 hb1e8313_0    conda-forge
idna                      2.10               pyh9f0ad1d_0    conda-forge
imageio                   2.9.0                      py_0    conda-forge
imbalanced-learn          0.7.0                      py_1    conda-forge
importlib-metadata        2.0.0                      py_1    conda-forge
importlib_metadata        2.0.0                         1    conda-forge
incremental               17.5.0                     py_0    conda-forge
intel-openmp              2020.2                      258
ipykernel                 5.3.4            py38h9bb44b7_1    conda-forge
ipython                   7.18.1           py38h1cdfbd6_1    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
ipywidgets                7.5.1              pyh9f0ad1d_1    conda-forge
itemadapter               0.2.0              pyhd8ed1ab_0    conda-forge
itemloaders               1.0.4              pyhd8ed1ab_0    conda-forge
jdcal                     1.4.1                      py_0    conda-forge
jedi                      0.17.2           py38h50d1736_1    conda-forge
jinja2                    2.11.2             pyh9f0ad1d_0    conda-forge
jmespath                  0.10.0             pyh9f0ad1d_0    conda-forge
joblib                    0.17.0                     py_0    conda-forge
jpeg                      9d                   hbcb3906_0    conda-forge
jsonschema                3.2.0                      py_2    conda-forge
jupyter_client            6.1.7                      py_0    conda-forge
jupyter_contrib_core      0.3.3                      py_2    conda-forge
jupyter_contrib_nbextensions 0.5.1            py38h32f6830_1    conda-forge
jupyter_core              4.6.3            py38h50d1736_2    conda-forge
jupyter_highlight_selected_word 0.2.0           py38h50d1736_1002    conda-forge
jupyter_latex_envs        1.4.4                 py38_1000    conda-forge
jupyter_nbextensions_configurator 0.4.1            py38h50d1736_2    conda-forge
jupyterlab_pygments       0.1.2              pyh9f0ad1d_0    conda-forge
kaggle                    1.5.10                   pypi_0    pypi
keras                     2.4.3                    pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
kiwisolver                1.2.0            py38h02bb52f_1    conda-forge
korean_lunar_calendar     0.2.1              pyh9f0ad1d_0    conda-forge
krb5                      1.18.2               h75d18d8_0
lcms2                     2.11                 h11f7e16_1    conda-forge
ld64_osx-64               530                  h3c32e8a_7    conda-forge
ldid                      2.1.2                h7660a38_2    conda-forge
libblas                   3.8.0               17_openblas    conda-forge
libcblas                  3.8.0               17_openblas    conda-forge
libclang-cpp10            10.0.1          default_hf57f61e_1    conda-forge
libcrc32c                 1.1.1                hb1e8313_2    conda-forge
libcurl                   7.71.1               h8a08a2b_1
libcxx                    10.0.1               h5f48129_0    conda-forge
libedit                   3.1.20191231         h0678c8f_2    conda-forge
libev                     4.33                 haf1e3a3_1    conda-forge
libevent                  2.1.10               hddc9c9b_3    conda-forge
libffi                    3.3                  hb1e8313_2

libgfortran4              7.5.0               h1a10cd1_18    conda-forge
libiconv                  1.16                 haf1e3a3_0    conda-forge
liblapack                 3.8.0               17_openblas    conda-forge
liblapacke                3.8.0               17_openblas    conda-forge
libllvm10                 10.0.1               h009f743_3    conda-forge
libllvm11                 11.0.0               hf85e3d2_0    conda-forge
libnetcdf                 4.7.4           nompi_h9d8a93f_107    conda-forge
libnghttp2                1.41.0               h7580e61_2    conda-forge
libopenblas               0.3.10          openmp_h63d9170_5    conda-forge
libpng                    1.6.37               h7cec526_2    conda-forge
libprotobuf               3.13.0.1             hab81aa3_0    conda-forge
libsodium                 1.0.18               hbcb3906_1    conda-forge
libssh2                   1.9.0                h8a08a2b_5    conda-forge
libthrift                 0.13.0               h990abc0_6    conda-forge
libtiff                   4.1.0                hca7d577_6    conda-forge
libutf8proc               2.5.0                haf1e3a3_2    conda-forge
libwebp-base              1.1.0                hbcb3906_3    conda-forge
libxgboost                1.2.0                hb1e8313_0    conda-forge
libxml2                   2.9.10               h2c6e4a5_2    conda-forge
libxslt                   1.1.33               hfed2d9b_1    conda-forge
lime                      0.2.0.1                  pypi_0    pypi
llvm-openmp               11.0.0               h73239a0_1    conda-forge
llvm-tools                10.0.1               h1341992_3    conda-forge
llvmlite                  0.36.0                   pypi_0    pypi
locket                    0.2.0                      py_2    conda-forge
lunarcalendar             0.0.9                      py_0    conda-forge
lxml                      4.5.2            py38h4828f51_1    conda-forge
lz4-c                     1.9.2                hb1e8313_3    conda-forge
markdown                  3.3.1                    pypi_0    pypi
markupsafe                1.1.1            py38h5406a74_3    conda-forge
matplotlib                3.3.1                         1    conda-forge
matplotlib-base           3.3.1            py38haed9462_1    conda-forge
missingno                 0.4.2                    pypi_0    pypi
mistune                   0.8.4           py38h5406a74_1003    conda-forge
mkl                       2020.2             h694c41f_260    conda-forge
mkl-service               2.3.0            py38h4d0b108_2    conda-forge
mkl_fft                   1.2.0            py38h174b24a_1    conda-forge
mkl_random                1.2.0            py38h11c0d25_1    conda-forge
multidict                 4.7.5            py38h5406a74_2    conda-forge
multitasking              0.0.9                    pypi_0    pypi
nbclient                  0.5.0                      py_0    conda-forge
nbconvert                 6.0.7            py38h50d1736_3    conda-forge
nbformat                  5.0.7                      py_0    conda-forge
ncurses                   6.2                  h2e338ed_4    conda-forge
nest-asyncio              1.4.1                      py_0    conda-forge
netcdf4                   1.5.4           nompi_py38he235a2f_103    conda-forge
networkx                  2.5                        py_0    conda-forge
newsapi-python            0.2.6                    pypi_0    pypi
nltk                      3.5                        py_0
notebook                  6.1.4            py38h32f6830_1    conda-forge
numba                     0.53.1                   pypi_0    pypi
numpy                     1.19.5                   pypi_0    pypi
oauthlib                  3.1.0                    pypi_0    pypi
olefile                   0.46               pyh9f0ad1d_1    conda-forge
openpyxl                  3.0.5                      py_0    conda-forge
openssl                   1.1.1k               h0d85af4_0    conda-forge
opt-einsum                3.3.0                    pypi_0    pypi
orc                       1.6.5                h4465734_0    conda-forge
osqp                      0.6.1            py38h5fc983b_2    conda-forge
packaging                 20.4               pyh9f0ad1d_0    conda-forge
pandas                    1.1.3            py38h48ddb8e_2    conda-forge
pandasql                  0.7.3                    py38_1
pandoc                    2.10.1               haf1e3a3_0    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
parquet-cpp               1.5.1                         2    conda-forge
parsel                    1.6.0                      py_0    conda-forge
parso                     0.7.1              pyh9f0ad1d_0    conda-forge
partd                     1.2.0              pyhd8ed1ab_0    conda-forge
patsy                     0.5.1                      py_0    conda-forge
pexpect                   4.8.0              pyh9f0ad1d_2    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    7.2.0            py38hef457fe_2    conda-forge
pip                       20.2.3                     py_0    conda-forge
plotly                    5.1.0                      py_0    plotly
pmdarima                  1.8.2                    pypi_0    pypi
prometheus_client         0.8.0              pyh9f0ad1d_0    conda-forge
prompt-toolkit            3.0.8              pyha770c72_0    conda-forge
prompt_toolkit            3.0.8                hd8ed1ab_0    conda-forge
protego                   0.1.16                     py_0    conda-forge
protobuf                  3.13.0.1         py38h11c0d25_1    conda-forge
ptyprocess                0.6.0                   py_1001    conda-forge
py-xgboost                1.2.0            py38h32f6830_0    conda-forge
py4j                      0.10.9             pyh9f0ad1d_0    conda-forge
pyarrow                   1.0.1           py38h62f2726_13_cpu    conda-forge
pyasn1                    0.4.8                      py_0    conda-forge
pyasn1-modules            0.2.7                      py_0    conda-forge
pycparser                 2.20               pyh9f0ad1d_2    conda-forge
pydeck                    0.6.2                    pypi_0    pypi
pydispatcher              2.0.5                      py_1    conda-forge
pygments                  2.7.1                      py_0    conda-forge
pyhamcrest                2.0.2                      py_0    conda-forge
pymeeus                   0.3.7              pyh9f0ad1d_0    conda-forge
pymongo                   3.11.0           py38heedec30_4    conda-forge
pyopenssl                 19.1.0                     py_1    conda-forge
pyparsing                 2.4.7              pyh9f0ad1d_0    conda-forge
pyrsistent                0.17.3           py38h5406a74_2    conda-forge
pysocks                   1.7.1            py38h50d1736_3    conda-forge
pyspark                   3.0.0                      py_0    conda-forge
pystan                    2.19.1.1         py38h6be0db6_2    conda-forge
python                    3.8.5                h26836e1_1
python-dateutil           2.8.1                      py_0    conda-forge
python_abi                3.8                      1_cp38    conda-forge
pytz                      2020.1             pyh9f0ad1d_0    conda-forge
pywavelets                1.1.1            py38hc7193ba_3    conda-forge
pyyaml                    5.3.1            py38h5406a74_2    conda-forge
pyzmq                     19.0.2           py38h2c785a9_2    conda-forge
queuelib                  1.5.0              pyh9f0ad1d_0    conda-forge
re2                       2020.10.01           hb1e8313_0    conda-forge
readline                  8.0                  h0678c8f_2    conda-forge
regex                     2020.10.11       py38h4d0b108_0    conda-forge
requests                  2.24.0             pyh9f0ad1d_0    conda-forge
requests-oauthlib         1.3.0                    pypi_0    pypi
retrying                  1.3.3                      py_2    conda-forge
rsa                       4.6                pyh9f0ad1d_0    conda-forge
s3transfer                0.3.3              pyhd8ed1ab_5    conda-forge
scikit-image              0.18.1                   pypi_0    pypi
scikit-learn              0.23.2           py38hc729cd9_2    conda-forge
scikit-surprise           1.1.1            py38h174b24a_1    conda-forge
scipy                     1.5.2            py38h352ea5d_2    conda-forge
scrapy                    2.4.1            py38h50d1736_2    conda-forge
scs                       2.1.2            py38h94b03ca_2    conda-forge
seaborn                   0.11.0               h694c41f_1    conda-forge
seaborn-base              0.11.0             pyhd8ed1ab_1    conda-forge
send2trash                1.5.0                      py_0    conda-forge
service_identity          18.1.0                     py_0    conda-forge
setuptools                50.3.0           py38hecd8cb5_1
setuptools-git            1.2                        py_1    conda-forge
shap                      0.37.0           py38h6668005_0    conda-forge
simplegeneric             0.8.1                      py_1    conda-forge
six                       1.15.0             pyh9f0ad1d_0    conda-forge
slicer                    0.0.7              pyhd8ed1ab_0    conda-forge
smart_open                3.0.0              pyh9f0ad1d_0    conda-forge
smmap                     4.0.0                    pypi_0    pypi
snappy                    1.1.8                hb1e8313_3    conda-forge
sodapy                    2.1.0                    pypi_0    pypi
soupsieve                 2.0.1                      py_1    conda-forge
sqlalchemy                1.3.20           py38h5406a74_0    conda-forge
sqlite                    3.33.0               h960bd1c_1    conda-forge
statsmodels               0.12.2                   pypi_0    pypi
streamlit                 0.84.1                   pypi_0    pypi
tapi                      1000.10.8            h879752b_4    conda-forge
tenacity                  6.3.1            py38hecd8cb5_0
tensorboard               2.3.0                    pypi_0    pypi
tensorboard-plugin-wit    1.7.0                    pypi_0    pypi
tensorflow                2.3.1                    pypi_0    pypi
tensorflow-estimator      2.3.0                    pypi_0    pypi
termcolor                 1.1.0                    pypi_0    pypi
terminado                 0.9.1            py38h50d1736_1    conda-forge
testpath                  0.4.4                      py_0    conda-forge
threadpoolctl             2.1.0              pyh5ca1d4c_0    conda-forge
tifffile                  2021.4.8                 pypi_0    pypi
tk                        8.6.10               h0419947_1    conda-forge
toml                      0.10.2                   pypi_0    pypi
toolz                     0.11.1                     py_0    conda-forge
tornado                   6.0.4            py38h4d0b108_2    conda-forge
tqdm                      4.50.2             pyh9f0ad1d_0    conda-forge
traitlets                 5.0.4                      py_1    conda-forge
twisted                   21.2.0           py38h96a0964_0    conda-forge
tzlocal                   2.1                      pypi_0    pypi
urllib3                   1.25.10                    py_0    conda-forge
validators                0.18.2                   pypi_0    pypi
w3lib                     1.22.0             pyh9f0ad1d_0    conda-forge
watchdog                  2.1.3                    pypi_0    pypi
wcwidth                   0.2.5              pyh9f0ad1d_2    conda-forge
webencodings              0.5.1                      py_1    conda-forge
werkzeug                  1.0.1                    pypi_0    pypi
wheel                     0.35.1             pyh9f0ad1d_0    conda-forge
widgetsnbextension        3.5.1            py38h50d1736_4    conda-forge
wordcloud                 1.8.1            py38h5406a74_1    conda-forge
wrapt                     1.12.1                   pypi_0    pypi
xarray                    0.16.1                     py_0    conda-forge
xlrd                      1.2.0              pyh9f0ad1d_1    conda-forge
xz                        5.2.5                haf1e3a3_1    conda-forge
yaml                      0.2.5                haf1e3a3_0    conda-forge
yarl                      1.6.2            py38h4d0b108_0    conda-forge
yfinance                  0.1.59                   pypi_0    pypi
zeromq                    4.3.2                h4a8c4bd_4    conda-forge
zipp                      3.3.0                      py_0    conda-forge
zlib                      1.2.11            h7795811_1010    conda-forge
zope.interface            5.3.0            py38h96a0964_0    conda-forge
zstd                      1.4.5                h289c70a_2    conda-forge

